<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{ hello }}</h1>
        <input type="number" min="1" v-bind:max="maxDiff()" v-model="diff">
        <input type="number" min="minTerm()" v-bind:max="maxTerm()" v-model="term">
        <input type="number" v-bind:min="minFora()" v-bind:max="maxFora()" v-model="fora">
        <p class="result">{{ diff * (term - fora) }}</p>
    </div>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            hello: 'Quest cost Calculator',
            diff: '5',
            term: '12',
            fora: '2',
            confidence: 50
        },
        methods: {
            cost: function() {return this.diff * (this.term - this.fora)},
            maxDiff: function() {return this.confidence / (this.term - this.fora)},
            maxTerm: function() {return this.confidence / this.diff + (+this.fora)},
            minTerm: function() {return this.fora + 1 || 1},
            minFora: function() {return this.term - this.confidence / this.diff},
            maxFora: function() {return this.term - 1}
        }
    });
</script>
</body>
</html>
